{:text-file "resources/chapters/chapter-8_ja.md"
 :exercises 
 [{:question "ルール`(movie-year ?title ?year)`を記述しなさい。`?title`は映画のタイトルで、`?year`は映画が公開された年である。"
   :inputs
   [{:type :query
     :value [:find ?title :in $ % :where (movie-year ?title 1991)]}
    {:type :rule
     :value [[(movie-year ?title ?year) ...]]
     :correct-value [[(movie-year ?title ?year)
                      [?m :movie/title ?title]
                      [?m :movie/year ?year]]]}]}
  
  {:question "ある映画で俳優同士、あるいは監督と俳優として一緒に働いたことのある2人は友達であるとする。ルール`(friends ?p1 ?p2)`を記述しなさい。`p1`と`p2`はpersonエンティティを表します。例外的な振る舞いがあるかもしれないので、入力値を、例えば\"Mel Gibson\"に変えて試してみなさい。"
   :inputs
   [{:type :query
     :value [:find ?friend
             :in $ % ?name
             :where 
             [?p1 :person/name ?name]
             (friends ?p1 ?p2)
             [?p2 :person/name ?friend]]}
    {:type :rule
     :value [[(friends ?p1 ?p2)
              ...]]
     :correct-value [[(friends ?p1 ?p2)
                      [?m :movie/cast ?p1]
                      [?m :movie/cast ?p2]
                      [(not= ?p1 ?p2)]]
                     [(friends ?p1 ?p2)
                      [?m :movie/cast ?p1]
                      [?m :movie/director ?p2]
                      [(not= ?p1 ?p2)]]
                     [(friends ?p1 ?p2)
                      (friends ?p2 ?p1)]]}
    {:type :value
     :value "Sigourney Weaver"}]}

  {:question "ルール`(sequels ?m1 ?m2)`を記述しなさい。(sequelは「続編」の意味）`?m1`と`?m2`はmovieエンティティである。属性`:movie/sequel`を使う必要がある。このルールを正しく実装するためには、下記のようなケースを考える必要がある。ある映画`?m2`が`?m1`の続編であるためには、下記のどちらかの条件を満たす必要がある。
* `?m2`は`?m1`の直接の続編である。 **または** 
* `?m2`はある映画`?m`の続編であり、`?m`は`?m1`の続編である。

上記のクエリを記述するには、少なくとも３通りの方法がある。３通り全てを見つけよ。"
   :inputs
   [{:type :query
     :value [:find ?sequel
             :in $ % ?title
             :where 
             [?m :movie/title ?title]
             (sequels ?m ?s)
             [?s :movie/title ?sequel]]}
    {:type :rule
     :value [[(sequels ?m1 ?m2) ...]]
     :correct-value [[(sequels ?m1 ?m2)
                      [?m1 :movie/sequel ?m2]]
                     [(sequels ?m1 ?m2)
                      [?m :movie/sequel ?m2]
                      (sequels ?m1 ?m)]]}
    {:type :value
     :value "Mad Max"}]}]}
